<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FrontEndClass</title>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <!--<script src="lib/require.js" data-main="js/main.js"></script>-->
    <script src="lib/angular.js"></script>
    <script src="js/bundle.js"></script>
</head>

<body>
    <div class="rock" ng-controller="indexControler as index">
        <h1 class="man" ng-bind="index.rock"></h1><br/>
        <input ng-model="index.rock" />
        <input type="button" value="很重要" ng-click="index.repeat(index.rock)" />
        <p ng-bind="index.important"></p>
    </div>
</body>

</html>